<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <section>
    <h1>Calculadora de CEPs</h1>
    <div>
      <p>Insira os CEPs de origem e destino</p>
      <p>Os CEPs devem ter 8 digitos</p>
      <p>Ex: 00000000</p>
    </div>
    {% include('/index/form.twig') %}
  </section>
</body>
</html>