<form method="post">
  <div class="form-group">
    <label for="origin">Cep de origem</label>
    <input type="text" class="form-control" id="origin" name="ceps[origin]" placeholder="00000000" required>
  </div>
  <div class="form-group">
    <label for="destination">Cep de destino</label>
    <input type="text" class="form-control" id="destination" name="ceps[destination]" placeholder="00000000" required>
  </div>
  <button type="submit" class="btn btn-primary">Calcular</button>
</form>