<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
    rel="stylesheet">
  <title>Calculadora de distância entre CEPs</title>
  {% block styles %}
  {{ encore_entry_link_tags('app') }}
  {% endblock %}
</head>

<body>
  <section class="container min-vh-100 d-flex justify-content-center align-items-center flex-column text-center">
    <div>
      <h1>Calculadora de distância entre CEPs</h1>
      <ul class="list-unstyled mt-3 text-start">
        <li>Insira os CEPs de origem e destino</li>
        <li>Os CEPs devem ter 8 digitos</li>
        <li>Ex: 00000000</li>
      </ul>
      {% include('/index/form.twig') %}
    </div>
    {% block table %}
    {% include('/index/table.twig') %}
    {% endblock %}
  </section>
  {% block scripts %}
  {{ encore_entry_script_tags('app') }}
  {% endblock %}
</body>
</html>