<div class="table-responsive mt-3 bg-light p-3 rounded shadow w-100 text-secondary">
  <table id="calculate-table" class="table table-bordered">
    <thead>
      <tr>
        <th>CEP de Origem</th>
        <th>CEP de Destino</th>
        <th>Distância calculada (Km)</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>